body {
  font-family: "Anonymous Pro", monospace;


  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}

h1 {
  text-align: center;
  font-weight: 500;
}

h2 {
  text-align: center;
  font-weight: 700;
}

h3 {
  text-align: center;
  font-weight: 700;
}

h4 {
  text-align: center;
  font-weight: 500;
}

.box {
  flex: 0 0 100%;
  margin-bottom: 20vh;
  min-width: 80vw;
  text-align: center;
}

.what-is-this {
  display: block;
  margin-top: 0px;
  color: #999;
  max-width: 500px;
}

.button {
  display: inline-block;
  margin-top: 32px;
  padding: 6px;
  padding-left: 12px;
  padding-right: 12px;
  text-align: center;
  border: solid 1px #000;
  border-radius: 6px;
  cursor: pointer;
}
